JavaDoc/
SentencingRobbery/target/
*.pdf
SentencingRobbery/dependency-reduced-pom.xml
SentencingRobbery/src/main/appengine/
SentencingRobbery/src/test/
SentencingRobbery/src/main/java/tjc/rug/META-INF/
