/* BUTTONS */
.button
{
-fx-background-color    : #353535;
-fx-border-color        : #353535;
-fx-text-fill           : #E0E1DD;
}
.button:hover
{
-fx-background-color    : #656565;
-fx-border-color        : #656565;
}
.button:pressed
{
-fx-background-color    : #D9D9D9;
-fx-border-color        : #D9D9D9;
}
/* VBOX */
.vbox
{
-fx-background-color    : #353535;
}
/* PANE */
.pane
{
-fx-background-color    : #22333B
}
/* ANCHOR PANE */
.anchor
{
-fx-background-color    : #284B63
}
/* ANIMATED ELEMENTS */
.spinnerOne
{
-fx-background-color    : #415A77
}