.pane
{
-fx-background-color    : linear-gradient(to right, #1B1B1B, #333333);
}
.toppane
{
-fx-background-color    : linear-gradient(to right, #1B1B1B, #2F4550);
}
.button
{
-fx-text-fill           : #98C1D9;
-fx-background-color    : #2D3142;
}
.button:hover
{
-fx-background-color    : #3C6E71;
-fx-text-fill           : #E0FBFC;
}
.label
{
-fx-text-fill           : #D9D9D9;
}
/*  The circles for animation */
.circle
{
-fx-fill                : transparent;
-fx-stroke-dash-array   : 70;
-fx-stroke-width        : 20;
}
.circleone
{
-fx-stroke              : rgba(252, 191, 73, 0.1);
}
.circletwo
{
-fx-stroke              : rgba(176, 70, 32, 0.1);
}
.circlethree
{
-fx-stroke              : rgba(62, 163, 142, 0.1);
}