.anchor
{
-fx-background-color    : #212529
}
.circle
{
-fx-fill                : transparent;
-fx-stroke-dash-array   : 70;
-fx-stroke-width        : 20;
}
.circleone
{
-fx-stroke              : rgba(252, 191, 73, 0.1);
}
.circletwo
{
-fx-stroke              : rgba(176, 70, 32, 0.1);
}
.circlethree
{
-fx-stroke              : rgba(62, 163, 142, 0.1);
}