.button
{
-fx-background-color    : #D9D9D9;
-fx-text-fill           : #353535;
}
.button:hover
{
-fx-background-color    : #BFC0C0;
}
.button:pressed
{
-fx-background-color    : #353535;
-fx-text-fill           : #D9D9D9;
}
.vbox
{
-fx-background-color    : rgba(0, 0, 0, 0);
}
.pane
{
-fx-background-color    : rgba(0, 0, 0, 0);
}
.qpane
{
-fx-background-color    : linear-gradient(to right, #1B1B1B, #2F4550);
}
.bpane
{
-fx-background-color    : linear-gradient(to top left, #415A77, #2D3142);
}
.label
{
-fx-text-fill           : #D9D9D9;
}
.checkbox
{
-fx-text-fill           : #D9D9D9;
}
.radiobutton
{
-fx-text-fill           : #D9D9D9;
}
.optionbutton
{
-fx-text-fill           : #D9D9D9;
}


