/* BUTTONS */
.button
{
-fx-background-color    : linear-gradient(to right, #333333, #1B1B1B);
-fx-border-color        : linear-gradient(to right, #333333, #1B1B1B);
-fx-text-fill           : #E0E1DD;
}
.button:hover
{
-fx-background-color    : #656565;
-fx-border-color        : #656565;
}
.button:pressed
{
-fx-background-color    : #D9D9D9;
-fx-border-color        : #D9D9D9;
}
/* VBOX */
.vbox
{
-fx-background-color    : linear-gradient(to right, #333333, #1B1B1B);
}
/* PANE */
.pane
{
-fx-background-color    : linear-gradient(to left, #1B1B1B, #2F4550);
}
/* ANCHOR PANE */
.anchor
{
-fx-background-color    : #284B63
}
/* ANIMATED ELEMENTS */
.spinnerOne
{
-fx-background-color    : #415A77
}